<div class="app-modal" *ngIf="show">
  <div class="modal-content-wrapper">
    <div class="modal-header" *ngIf="headerText">
      {{ headerText | translate }}
    </div>
    <div class="modal-body">
      <ng-content select="[modal-body]"></ng-content>
    </div>
    <div class="modal-btn">
      <ng-content select="[modal-btn]"></ng-content>
    </div>
  </div>
</div>
