<div class="transfer-main">
  <div class="transfer-form">
    <app-transfer-form></app-transfer-form>
  </div>
  <div class="transfer-list">
    <app-transfer-list></app-transfer-list>
  </div>
</div>
