.transfer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90%;
  width: 100%;
  margin-top: 50px;
  .transfer-form {
    width: 25%;
    height: max-content;
    background-color: #fff;
  }
  .transfer-list {
    width: 50%;
    background: #fff;
    height: 100%;
    margin-left: 30px;
  }
}
