<div *ngIf="isInput;else confirmForm">
  <div class="form-title">
    <img src="assets/icons/arrows.png">
    <h4>{{'transfer.form.make_a_transfer' | translate}}</h4>
  </div>
  <form [formGroup]="formTransfer">
    <div class="form-input">
      <div class="form-account">
        <span>{{'transfer.form.from_account' | translate | uppercase}}</span>
        <input formControlName="fromAccount" type="text">
      </div>
      <div class="to-account">
        <span>{{'transfer.form.to_account' | translate | uppercase}}</span>
        <input formControlName="toAccount" placeholder="Georgia Power Electric Company" type="text">
        <span class="error-input" *ngIf="formTransfer.controls.toAccount.invalid && (formTransfer.controls.toAccount.dirty || formTransfer.controls.toAccount.touched)">{{'transfer.form.to_account.invalid' | translate}}</span>
      </div>
      <div class="amount">
        <span>{{'transfer.form.amount' | translate | uppercase}}</span>
        <input formControlName="amount" placeholder="$ 0.00" type="text">
        <span class="error-input" *ngIf="formTransfer.controls.amount.invalid && (formTransfer.controls.amount.dirty || formTransfer.controls.amount.touched)">{{'transfer.form.amount.invalid' | translate}}</span>
      </div>
      <button (click)="reviewTransaction()" [disabled]="formTransfer.invalid" class="btn-primary btn-submit" type="submit">{{'common.submit' | translate | uppercase }}</button>
    </div>
  </form>
</div>
<ng-template #confirmForm>
  <form class="form-confirm">
    <div class="form-title">
      <img src="assets/icons/arrows.png">
      <h4>{{'transfer.confirm_transaction' | translate}}</h4>
    </div>
    <ul class="content">
      <li class="from-account">
        <p>{{'transfer.from_account_text' | translate}}</p>
        <span>{{getValueFromAccount()}}</span>
      </li>
      <li class="amount">
        <p>{{'transfer.amount' | translate }}</p>
        <span>{{formTransfer.value?.amount | currency}}</span>
      </li>
      <li class="to-account">
        <p>{{'transfer.to_account_text' | translate}}</p>
        <span>{{formTransfer.value?.toAccount}}</span>
      </li>
    </ul>
    <div class="btn-group">
      <button (click)="cancelTransaction()" class="btn-secondary btn-cancel">{{'common.cancel' | translate | uppercase}}</button>
      <button (click)="confirmTransaction()" class="btn-primary btn-confirm">{{'common.confirm' | translate | uppercase}}</button>
    </div>
  </form>
</ng-template>
<ng-container *ngIf="showInValidAmount">
  <app-modal [show]="showInValidAmount" [headerText]="titlePopup">
    <div modal-body class="body-confirm-validate">
      <img src="assets/icons/error-icon.svg">
      <p>{{'common.transfer_error' | translate}}</p>
    </div>
    <div modal-btn class="form-transfer-wrap-btn">
      <button (click)="showInValidAmount = false" class="btn-primary">{{'common.close' | translate}}</button>
    </div>
  </app-modal>
</ng-container>
<ng-container *ngIf="submitSuccess">
<app-modal [show]="submitSuccess" [headerText]="titlePopup">
  <div modal-body class="body-confirm-validate">
    <img src="assets/icons/success-icon.svg">
    <p>{{'common.transfer_success' | translate}}</p>
  </div>
  <div modal-btn class="form-transfer-wrap-btn">
    <button (click)="closeModal()" class="btn-primary">{{'common.close' | translate}}</button>
  </div>
</app-modal>
</ng-container>
