.form-title {
  background-color: #1180aa;
  width: 100%;
  height: 40px;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    top: 8px;
    left: 30px;
    cursor: pointer;
  }
  span {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}
.form-input {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  justify-content: center;
  align-items: flex-end;
  width: 84%;
  .form-account, .to-account, .amount {
    margin-top: 1.5rem;
    font-family: 'KanitBod'!important;
    width: 100%;
    position: relative;
    h5 {
      margin: 0;
      position: absolute;
      color: red;
    }
    .error-input {
      color: orangered;
    }
  }

}

.form-confirm {
  .content {
    background-color: #fff;
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 87%;
    li {
      width: 100%;
      border-bottom: 1px solid;
      p {
        margin: 10px 10px;
        font-family: 'KanitBod'!important;
      }
      span {
        margin: 10px 10px;
      }
    }
    li:last-child {
      border-bottom: none;
    }
    .amount {
      color: orangered;
    }
  }
}

.btn-submit {
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-group {
  text-align: end;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 92%;
  .btn-confirm {
    display: inline-block;
  }
  .btn-cancel {
    display:inline-block;
    width: max-content;
    margin-right: 1rem;
  }
}

