<div class="list-title">
  <img src="assets/icons/briefcase.png" alt="">
  <span>{{'transfer.list.recent_transactions' | translate}}</span>
</div>
<div class="filter-list">
  <div class="wrap-input">
    <input maxlength="30" [(ngModel)]="filterKey" class="input-search" type="text"
           (input)="search$.next(filterKey)"
           placeholder="{{ 'transfer.list.search_typing'| translate}}">
    <div class="btn-clear" (click)="clearSearch()" *ngIf="filterKey">
      <img src="assets/icons/remove.png">
    </div>
  </div>
  <div class="sort-by">
    <span>{{ 'transfer.sort_by_text'| translate}}</span>
    <div class="condition-sort">
      <button [class.sort-asc--icon]="sortState === SORT_STATE.DATE_ASC"
              [class.sort-desc--icon]="sortState === SORT_STATE.DATE_DESC"
              (click)="sortList(sortState === SORT_STATE.DATE_DESC ? SORT_STATE.DATE_ASC : SORT_STATE.DATE_DESC)">{{'transfer.date' | translate | uppercase}}</button>
      <button [class.sort-asc--icon]="sortState === SORT_STATE.BENEFICIARY_ASC"
              [class.sort-desc--icon]="sortState === SORT_STATE.BENEFICIARY_DESC"
              (click)="sortList(sortState === SORT_STATE.BENEFICIARY_DESC ? SORT_STATE.BENEFICIARY_ASC : SORT_STATE.BENEFICIARY_DESC)">{{'transfer.beneficary' | translate | uppercase}}</button>
      <button [class.sort-asc--icon]="sortState === SORT_STATE.AMOUNT_ASC"
              [class.sort-desc--icon]="sortState === SORT_STATE.AMOUNT_DESC"
              (click)="sortList(sortState === SORT_STATE.AMOUNT_DESC ? SORT_STATE.AMOUNT_ASC : SORT_STATE.AMOUNT_DESC)">{{'transfer.amount' | translate | uppercase}}</button>
    </div>
  </div>
</div>

<ul class="transactions-item">
  <li [style.border-left-color]="item?.categoryCode"
      *ngFor="let item of listTransactions" class="item">
    <span class="date">{{item?.dates?.valueDate | date:'MMM. d'}}</span>
    <img width="35px" [src]="item?.url" alt="">
    <div>
      <span class="merchant-name">{{item?.merchant?.name}}</span>
      <span class="transaction-type">{{item?.transaction?.type}}</span>
    </div>
    <span class="amount">-${{item?.transaction?.amountCurrency?.amount}}</span>
  </li>
  <li *ngIf="listTransactions && listTransactions.length === 0" class="item">
    <span>{{'transfer.list.not_transactions' | translate}}</span>
  </li>
</ul>
