.list-title {
  width: 100%;
  height: 50px;
  background-color: #1180aa;
  position: relative;
  display: flex;
  color: #fff;
  img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30px;
  }
  span {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

.filter-list {
  display: flex;
  padding: 16px;
  .wrap-input {
    position: relative;
    flex: 2;
    min-width: 200px;
    input {
      padding-right: 2rem;
      width: calc(100% - 2rem);
      max-width: calc(100% - 2rem);
    }
    .btn-clear {
      position: absolute;
      right: 0;
      top: 30%;
      text-align: center;
      cursor: pointer;
      img {
        width: 23px;
      }
    }
  }
  .sort-by {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 400px;
    & > span {
      margin-right: 20px;
      font-family: 'KanitMedium';
    }
    .condition-sort {
      height: 100%;
      display: flex;
      border: 1px solid gray;
      overflow: hidden;
      border-radius: 3px;
      .sort-asc--icon::after,
      .sort-desc--icon::after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }
      .sort-desc--icon:hover::after {
        border-top: 5px solid #fff;
      }
      .sort-asc--icon:hover::after {
        border-bottom: 5px solid #fff;
      }
      .sort-asc--icon::after {
        border-bottom: 5px solid gray;
      }
      .sort-desc--icon::after {
        border-top: 5px solid gray;
      }
      & > button {
        border: none;
        border-right: 1px solid gray;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        height: 100%;
        background-color: #fff;
        cursor: pointer;
        position: relative;
      }
      & > button:last-child {
        border-right: none;
      }
      & > button:hover {
        background-color: gray;
        color: #fff;
      }
    }
  }
}

.transactions-item {
  position: relative;
  max-height: 600px;
  width: 96%;
  overflow-y: auto;
  padding-left: 15px;
  .item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    border: 1px solid gray;
    border-left: 5px solid;
    border-bottom: unset;
    .date {
      min-width: 50px;
      width: 50px;
    }
    &>img {
      margin: 0 2rem;
    }
    &>div {
      display: flex;
      flex-direction: column;
    }
    .merchant-name {
      font-family: 'KanitMedium';
    }
    .amount {
      position: absolute;
      right: 2rem;
      font-family: 'KanitBod';
    }
  }
  .item:last-child {
    border-bottom: 1px solid gray;
  }
  .item:hover {
    background-color: gray;
    color: #fff;
    cursor: pointer;
  }
}
