@font-face {
  font-family: Kanit;
  src: url(assets/fonts/Kanit-ExtraLight.otf) format("opentype");
}
@font-face {
  font-family: KanitBod;
  src: url(assets/fonts/Kanit-SemiBold.otf) format("opentype");
}
@font-face {
  font-family: KanitMedium;
  src: url(assets/fonts/Kanit-Medium.otf) format("opentype");
}
body, html {
  font-family: 'Kanit'!important;
  height: 100%;
  margin: 0;
  background: url(~assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input[type="text"] {
  font-family: 'Kanit'!important;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  border-bottom: 1px solid gray;
  height: 35px;
}
.btn-primary, .btn-secondary {
  border-radius: 5px;
  text-transform: capitalize;
  color:#fff;
  width: 180px;
  height: 36px;
  &:active {
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active:focus{
    outline: none;
    box-shadow: none;
  }

  &:disabled, [disabled] {
    pointer-events: none !important;
    opacity: 0.5;
  }
}

.btn-primary {
  background-color: #e25a2c;
  border: 1px solid #e25a2c;
  &:hover {
    background-color: #fff;
    cursor: pointer;
    color: #e25a2c;
  }
}

.btn-secondary {
  background-color: gray;
  border: 1px solid gray;
  &:hover {
    background-color: #fff;
    cursor: pointer;
    color: gray;
  }
}
