.main {
  height: 100%;
  width: 100%;
  .header-content {
    border-bottom: 3px solid #ed7036;
    background-color: white;
    margin: 0;
  }
  .main-content {
    height: max-content;
  }
  .footer-content {

  }
}
