<div class="main">
  <div class="header-content">
    <app-header></app-header>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
<!--  <div class="footer-content">-->
<!--    <app-footer></app-footer>-->
<!--  </div>-->
</div>
